.td-interna-general
{
	font-size: 2.5rem;
	font-style: bold;
	padding:0px;
}
.td-externa-general
{
	font-size: 3rem;
	font-style: bold;
	margin:10px;
}
.td-interna-title
{
	text-align:center;
	margin:auto;
	display:block;
	font-size: 110px;
	height:180px;
	width:1200px;
}
.parrafo
{
	font-size: 30px;
}
.tabla-cuerpo-ficha-interna
{
	width:1900px;
	height:950px; 
	border-spacing:0px;
	cellspacing:0!important;
	cellpadding:0!important;
}
.tabla-header-ficha-interna
{
	text-algin: center;
	vertical-align: middle;
	width:1900px;
	height:180px; 
	border:0;
	
}
.A6
{
	padding:0;
	margin:0;
}
span.title
{
   display:block;
   margin-top: 50px;
}

.tabla-cuerpo-ficha-externa
{
	width:2400px;
	height:1000px; 
	border-spacing:0px;
	cellspacing:0!important;
	cellpadding:0!important;
}
.logo-externa
{
	width:200px;
	height:200px; 
}
.presentacion-externa
{
	text-align:center;
	height:180px;
	width:2000;
	font-size: 4.5rem;
}
.encabezado-externa
{
	text-align:center;
	/*margin:auto;
	display:block;*/
	font-size: 90px;
	height:180px;
	width:2400;
}

.td-troquel
{
	
	align: center;
	font-size: 1rem;
	font-style: bold;
	border-bottom: 1px solid;
	
}

.div-troquel
{
	dislplay:block;
	margin: 5px 0px 0px 5px;
}
