.general
{
	border : 3px;
	border-style: solid;
	width: 1500px;
	height: 1000px;
    margin: 50px 0px 50px 0px;
	 
}
.troquel
{
	float:left;
	display:inline-table;
	border : 2px;
	border-right-style: dotted;
	width: 15%;
	height: 1000px;
}

.fila-troquel
{
	display: table; 
	border : 0.5px;
	border-bottom-style: solid;
	width: 100%;
	height: 20%;
}

.fila-troquel-ultima
{
	display: table; 
	width: 100%;
	height: 102px;
}
.texto-troquel-fecha
{
	text-align:center; 
    vertical-align: middle;
    display: table-cell;  
	font-size: 1.5rem;
	
}
.texto-troquel-codigo
{
	text-align:center; 
	font-size: 1.3rem;	
}

.texto-troquel-nomyape
{
	text-align:center; 
	font-size: 1.3rem;	
}


.factura
{
	
	float:left;
	display:inline-table;
	width: 84.8%;
	height: 273px;
}
	
.container-titulo
{
	margin: 0;
	float: left;
	border : 0.5px;
	border-style:solid;
	width:79%;
	height: 265px;
	border :1px;
	border-bottom-style: solid;
	
}

.titulo
{
	height: 102px;
	border : 1px;
	border-bottom-style: solid;
}

.texto-titulo
{
	margin: 0;
	text-align:center; 
	font-size: 4rem;	
	
}

.logo
{	
	
	width: 20.649%;
	height: 265px;
	right: 0px;
    top: 0px;
	float: left;
	margin: 0;
	border :1px;
	border-bottom-style: solid;
	border-left-style: solid;
	
}


.descripcionIba
{
	border :0px;
	border-bottom-style: solid;
}

.texto-descripcionIba
{
	margin: 0;
	text-align:center; 
	font-size: 2rem;	
}
.descripcion-alumno-curso
{
	margin: 0;
	float: left;
	border : 1px;
	border-style:solid;
	border-top-style: solid;
	 border-right-style: none;
	width:100%;
	height: 130px;	
}

.alumno
{
	margin: 0;
	border : 1px;
	border-bottom-style: solid;
	border-left-style: none;
   border-right-style: none;
	height: 50%;
	
}

.texto-alumno
{
	margin: 0 0 0 5px;
	text-align:left; 
	font-size: 1.2rem;	
}

.curso
{
	margin: 0;
	height: 50%;
	border: 1px;
  border: 1px;
	border-left-style: none;
 	border-right-style: none;
}
.container-conceptos
{
	float: left;
	margin: 0;
	width:100%;
	height: 602px;
	border :0px;
	border-style: solid;
	border-bottom-style: solid;
}

.titulo-conceptos
{
	float: left;
	margin: 0;
	width: 100%;
	height: 61px;
	border : 1px;
	border-bottom-style: solid;
	border-left-style: solid;
}
.conceptos
{
	position: relative;
	float: left;
	margin: 0;
	width: 85%;
	height: 602px;
	border :0px;
	border-bottom-style: solid;
	
	
}

.concepto
{
	float: left;
	margin: 0;
	width: 100%;
	height: 61px;
	border : 1px;
	border-bottom-style: solid;
	border-left-style: none;
	border-right-style: none;
}

.texto-concepto
{
	margin: 0 0 0 5px;
	text-align:left; 
	font-size: 2rem;	
}

.montos
{
	margin : 0;
	border: 1px;
	border-bottom-style: none;
	border-top-style: none;
	border-right-style: none;
	border-left-style: solid;
	float: left;
	margin: 0;
	width: 14.9%;
	height: 602px;
}

.descripcion-total
{
	border : 1px;
	border-left-style: none;
	border-bottom-style: solid;
	height: 61px;
}

.inforamcion
{
		border: 1px;
	border-top-style: solid;

	float: left;
	margin: 0;
	width: 100%;
	height: 81px;
	position: absolute;
	bottom: 0;
    left: 0;
}